* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    Font-Family: 'Noto Serif', Serif;
    Font-Size: 16px;
}


/*Make image covers whole background*/


/*Question: Supposed to blur the background*/


/*Photoshop because background image must target HTML and blur targets Body(which makes every child blurred)*/

html {
    background: url(https://github.com/fucata55/explorestaurant-api-capstone/blob/master/Background%20Image%20Blurred.jpg?raw=true) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a {
    text-decoration: none;
}

header {
    text-align: center;
    max-width: 1000px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
}

main {
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    line-height: 130%;
}

section {
    display: inline;
    width: 40%;
    max-width: 600px;
    min-width: 150px;
    padding: 20px;
    margin-top: 0;
}

hidden {
    display: none;
}

.logo {
    border-radius: 50%;
    height: 175px;
}


/*Question: Change font type and color*/

h1 {
    margin-top: 5px;
    font-weight: bold;
    Font-Family: 'Oxygen', Sans-Serif;
    Font-Size: 46px;
    color: white;
}


/*Question: Change font type and color*/

.moto {
    font-size: 25px;
    margin-bottom: 15px;
    color: white;
}

.link {
    width: 80px;
    display: inline-block;
    height: 80px;
    margin-right: 15px;
}


/*Question: Change placeholder color into the contrast


/*Answer: target input::placeholder*/

.input-box {
    width: 50%;
    min-width: 300px;
    height: 40px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: orange;
    border: 3px solid lightgrey;
    color: white;
    text-align: center;
    Font-Family: 'Noto Serif', Serif;
    Font-Size: 20px;
}

input::placeholder {
    color: white;
    text-align: center;
    Font-Family: 'Noto Serif', Serif;
    Font-Size: 20px;
}

.input-submit {
    width: 15%;
    min-width: 20px;
    background-color: darkorange;
    border: 3px solid lightgrey;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 5px;
}


/*Position wmust be absolute(hard) to execute .searched class*/


/*
header.searched {
    background-color: golden;
    height: 300px;
    border-bottom: 5px solid goldenrod;
    padding: 20px;
    text-align: left;
}

.logo.searched {
    height: 80px;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

.moto.searched {
    display: none;
}
*/


/*Question: move 2 sections into the center horizontal of the main in the fewest css*/


/*Answer: text-align: center the parent (Main) and overwrite text-align in desired sections*/

.zomato-output-section,
.youtube-output-section {
    display: inline-block;
    background-color: #FDDA85;
    border: 10px solid rgba(146, 53, 40, 0.5);
    text-align: left;
    vertical-align: top;
}

.zomato-outputs-heading,
.youtube-outputs-heading {
    margin-bottom: 10px;
}

.zomato-output-section {
    margin-left: 25px;
    margin-right: 15px;
}

.youtube-output-section {
    margin-left: 15px;
    margin-right: 25px;
}

.zomato-outputs,
.youtube-outputs {
    background-color: #FFC948;
}

.zomato-output,
.youtube-output {
    padding: 15px;
    border-bottom: 2px grey solid
}


/*Question: Change placeholder color into the contrast*/


/*Answer: Select CSS input::placeholder*/

.input-box.searched {
    background-color: black;
    height: 25px;
    width: 30%;
    min-width: 150px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.zomato-output-image {
    width: 80px;
    background-size: cover;
    background-position: center center;
    height: 80px;
    margin-right: 15px;
    display: inline-block;
}

.youtube-output-image {
    background-size: cover;
    background-position: center center;
    height: 80px;
}

.zomato-output-restaurant-name,
.youtube-output-video-name {
    display: inline-block;
    font-size: 18px;
    vertical-align: top;
}

.restaurant-detail,
.video-detail {
    display: inline-block;
    width: 70%;
    vertical-align: top;
}
